<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frankensterzenbach.paulfranken.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".neueStunde_java"
            android:label="@string/title_activity_neue_stunde_java"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Klausurplan"
            android:label="@string/title_activity_klausurplan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Einstellungen"
            android:label="@string/title_activity_einstellungen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Stunde_info"
            android:label="@string/title_activity_stunde__bearbeiten"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Stunde_bearbeiten"
            android:label="@string/title_activity_stunde__bearbeiten"
            android:screenOrientation="portrait" />
        <activity android:name=".SendMailActivity" />

        <receiver
            android:name=".WidgetProvider"
            android:exported="false"
            android:icon="@color/colorPrimaryDark"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.color.appwidget.list.UPDATE_LIST" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service
            android:name=".WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".StundenSetzen"
            android:label="@string/title_activity_stunden_setzen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlanWebView"
            android:label="@string/title_activity_plan_web_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>